# EXCLUDE FILES BUT KEEP THE ROOT FOLDER
/public/public_fotos/*
/public/dist/*

# exception to the rule, KEEP THIS FILES so the folder won't get deleted
!/public/public_fotos/.gitkeep
!/public/dist/.gitkeep

#EXCLUDE THESE FOLDERS
node_modules/

#EXCLUDE THESE FILES
firebase.json
database.rules.json
.firebaserc
firebaserc
*.log