<md-toolbar id="search-toolbar" show-gt-sm ng-hide="$parent.navActiveItem === 'favoritos' || $parent.navActiveItem === 'coincidencias'">
    <div class="md-toolbar-tools">
        <form name="userForm" ng-cloak>
            <div layout-gt-xs="row">
                <md-input-container md-no-float class="md-block" flex="25">
                    <md-icon>pets</md-icon>
                    <input ng-model="searchModel.nombre" placeholder="Nombre">
                </md-input-container>
                <md-input-container md-no-float class="md-block" flex="25">
                    <md-icon>wc</md-icon>
                    <md-select ng-model="searchModel.sexo" placeholder="Sexo">
                        <md-option value="">Ambos</md-option>
                        <md-option value="Macho">Macho</md-option>
                        <md-option value="Hembra">Hembra</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container md-no-float class="md-block" flex="35">
                    <md-icon>local_offer</md-icon>
                    <md-select ng-model="searchModel.raza" placeholder="Raza" data-md-container-class="selectContainer">
                        <md-select-header class="select-header">
                            <input ng-model="searchTermRaza"
                               type="Filtrar..."
                               placeholder="Buscar raza.."
                               class="header-searchbox md-text"
                               ng-keydown="$event.stopPropagation()" 
                               force-select-focus>
                        </md-select-header>
                        <md-option value="">Todas</md-option>
                        <md-option ng-repeat="raza in razas | filter:searchTermRaza" value="{{raza}}">{{::raza | capitalize}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="header-checkbox-container">
                    <md-checkbox aria-label="Tiene collar" ng-model="searchModel.has_collar" flex style="margin-top: 7px;margin-right: 0px;">
                        Collar: <span ng-if="searchModel.has_collar">Si</span><span ng-if="!searchModel.has_collar">No</span>
                    </md-checkbox>
                </md-input-container>
                <md-input-container md-no-float class="md-block collar-detalle" flex="25" ng-if="searchModel.has_collar">
                    <md-icon>description</md-icon>
                    <input ng-model="searchModel.collar_detalle" placeholder="Color">
                </md-input-container>
                <md-autocomplete
                    ng-disabled="ctrl.isDisabled"
                    md-no-cache="ctrl.noCache"
                    md-selected-item="searchModel.lugar"
                    md-search-text-change="ctrl.searchTextChange(ctrl.searchTextFilter)"
                    md-search-text="ctrl.searchTextFilter"
                    md-selected-item-change="ctrl.selectedItemChange(item)"
                    md-items="item in ctrl.querySearch(ctrl.searchTextFilter)"
                    md-item-text="item.display"
                    md-min-length="0"
                    placeholder="Encontrado en"
                    style="width: 400px; margin-top:10px; margin-left: 10px">
                    <md-item-template>
                        <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{::item.display}}</span>
                    </md-item-template>
                    <md-not-found>Ese lugar no existe.</md-not-found>
                </md-autocomplete>
                <md-input-container md-no-float class="md-block toolbar-search-btn" flex="35">
                    <md-button class="md-raised md-primary" ng-click="buscarPerro(searchModel)">Buscar</md-button>
                </md-input-container>          
            </div>
        </form> 
    </div>
</md-toolbar>