<md-content id="main-content" >
    <md-content class="md-padding" layout="column" layout-xs="column" style="padding-right: 8px;padding-left: 8px;">
        <div layout="row" flex>
            <md-input-container class="md-block" flex="10">Coincidir por:</md-input-container>
            <md-input-container class="md-block" flex="10">
                <md-checkbox ng-model="filtroCoincidencias.matchRaza" ng-init="filtroCoincidencias.matchRaza=true">Raza</md-checkbox>
            </md-input-container>
            <md-input-container class="md-block" flex="10">
                <md-checkbox ng-model="filtroCoincidencias.matchLugar" ng-init="filtroCoincidencias.matchLugar=true">Lugar</md-checkbox>
            </md-input-container>
            <md-input-container class="md-block" flex="10">
                <md-checkbox ng-model="filtroCoincidencias.matchSexo" ng-init="filtroCoincidencias.matchSexo=true">Sexo</md-checkbox>
            </md-input-container>
            <md-input-container class="md-block" flex="10">
                <md-checkbox ng-model="filtroCoincidencias.matchCollar">Collar</md-checkbox>
            </md-input-container>
            <md-input-container class="md-block" flex="15">
                <md-select ng-model="filtroCoincidencias.order" placeholder="Ordenar por" ng-init="filtroCoincidencias.order = 'fecha_desc'">
                    <md-option value="fecha_desc">Fecha (Desc)</md-option>
                    <md-option value="fecha_asc">Fecha (Asc)</md-option>
                    <md-option value="lugar_desc">Lugar (Desc)</md-option>
                    <md-option value="lugar_asc">Lugar (Asc)</md-option>
                    <md-option value="raza_desc">Raza (Desc)</md-option>
                    <md-option value="raza_asc">Raza (Asc)</md-option>
                </md-select>
            </md-input-container>
            <div flex="10">
                <md-button class="md-raised md-primary" ng-click="coincidenciasList.loadCoincidencias(filtroCoincidencias)">Buscar</md-button>
            </div> 
        </div>
        <div class="animation-container" ng-show="coincidenciasList.buscando">
            <div class="sk-folding-cube">
                <div class="sk-cube1 sk-cube"></div>
                <div class="sk-cube2 sk-cube"></div>
                <div class="sk-cube4 sk-cube"></div>
                <div class="sk-cube3 sk-cube"></div>
            </div>
            <div>Buscando coincidencias</div>
        </div>
        <md-virtual-repeat-container id="virtual-repeat-container" ng-style="coincidenciasHeight()" ng-show="coincidenciasList.hasCoincidencias()">
            <div md-virtual-repeat="c in coincidenciasList.getCoincidencias()" md-orient-vertical class="fila-coincidencias-container md-whiteframe-4dp" ng-show="c.coincidencias.length > 0">
                <div class="coincidencia-principal" data-id="{{c.id}}">
                    <img data-ng-src="{{c.foto}}" alt="foto-principal">
                </div>
                <div class="coincidencias-secundarias-container">
                    <div ng-repeat="s in c.coincidencias" class="coincidencia-secundaria" data-id="{{s.id}}" ng-click="dialogCompararPerros(c,s,$event);">
                        <img data-ng-src="{{s.foto}}" alt="foto-coincidencia">
                        <div class="coincidencias-actions-btn-container">
                            <div class="coincidencias-rechazar-btn" ng-click="coincidenciasList.quitarCoincidencia(c.id, s.id)">QUITAR</div>
                        </div>
                    </div>
                </div>
            </div>
        </md-virtual-repeat-container>
    </md-content>
</md-content>