<md-content id="main-content">
    <md-content class="md-padding" layout="column" layout-xs="column">
        <div class="paginator" layout="row" ng-show="perrosList.getPerrosListByTipo(TIPO_ENCONTRADO).length > 0" style="margin-top:-10px">
            <div paging page="pagActualEncontrados" page-size="MAX_RESULTS" total="perrosList.registros[TIPO_ENCONTRADO]" paging-action="goToPage(page, TIPO_ENCONTRADO)" text-next="Siguiente" text-prev="Anterior" show-prev-next="true" hide-if-empty="true" text-title-page="Pág. {page}" text-title-prev="Ant" text-title-next="Sig"></div> 
        </div>
        <div layout="row" layout-align="center center" layout-wrap>
            <md-card class="lost-card" data-id="{{::perro.id}}" ng-repeat="perro in perrosList.getPerrosListByTipo(TIPO_ENCONTRADO, pagActualEncontrados-1, MAX_RESULTS) | orderBy:'-real_date' track by perro.id">
                <div class="ribbon" ng-show="perro.has_collar"><span style="background-color: {{perro.collar_color}}">COLLAR</span></div>
                <div class="name-tag" ng-class="{'tag-hembra': perro.isHembra(), 'tag-macho': perro.isMacho()}" ng-if="perro.nombre">{{perro.nombre}}</div>
                <img alt="Foto Perro" class="md-card-image" data-ng-src="{{perro.foto}}" />
                <md-card-content ng-include="'/partials/templates/card-content.tmpl.html'"></md-card-content>
                <md-card-actions layout="row" layout-align="start center">
                    <md-card-icon-actions ng-include="'/partials/templates/card-actions.tmpl.html'"></md-card-icon-actions>
                </md-card-actions>
            </md-card>
        </div>
        <div class="paginator" layout="row" ng-show="perrosList.getPerrosListByTipo(TIPO_ENCONTRADO).length > 0">
            <div paging page="pagActualEncontrados" page-size="MAX_RESULTS" total="perrosList.registros[TIPO_ENCONTRADO]" paging-action="goToPage(page, TIPO_ENCONTRADO);scrollTop();" text-next="Siguiente" text-prev="Anterior" show-prev-next="true" hide-if-empty="true" text-title-page="Pág. {page}" text-title-prev="Ant" text-title-next="Sig"></div> 
        </div>
       <!-- Mobile speedDial admin -->
        <md-fab-speed-dial md-open="false" ng-hide="!user" md-direction="up" show-xs show-sm hide-gt-sm class="md-fling md-fab-bottom-right" style="position:fixed !important;">
            <md-fab-trigger>
                <md-button aria-label="menu" class="md-fab">
                    <md-icon>menu</md-icon>
                </md-button>
            </md-fab-trigger>

            <md-fab-actions>
                <md-button aria-label="Nuevo Perro" class="md-fab md-raised md-mini md-primary" ng-click="showNuevoPerro($event, TIPO_ENCONTRADO)">
                    <md-icon>add</md-icon>
                </md-button>
                <md-button aria-label="Buscar Perro" class="md-fab md-raised md-mini" ng-click="showDialogBuscarPerro($event, TIPO_ENCONTRADO)">
                    <md-icon>search</md-icon>
                </md-button>
            </md-fab-actions>
        </md-fab-speed-dial>

        <!-- Mobile speedDial unathenticated users -->
        <md-button aria-label="Buscar Perro" ng-hide="user" hide-gt-sm class="md-fab md-fab-bottom-right visible" ng-click="showDialogBuscarPerro($event, TIPO_ENCONTRADO)" style="position:fixed !important;">
            <md-icon>search</md-icon>
        </md-button>
        
        <!-- Desktop speedDial admin -->
        <md-button aria-label="Nuevo Perro" hide-xs hide-sm ng-hide="!user" class="btn-agregar-perro md-fab md-fab-bottom-right visible" ng-click="showNuevoPerro($event, TIPO_ENCONTRADO)" style="position:fixed !important;">
            <md-icon>add</md-icon>
        </md-button>
    </md-content>
</md-content>