<div class="tabsDemoDynamicHeight" ng-cloak ng-controller="HomeCtrl as ctrl">
    <md-button aria-label="Subir" class="btn-agregar-perro md-fab md-fab-bottom-right" ng-class="{ visible: selectedTab==0 }" ng-click="showNuevoPerro($event, TIPO_PERDIDO)" style="position:fixed !important;">
        <md-icon>add</md-icon>
    </md-button>
    <md-button aria-label="Subir" class="btn-agregar-perro md-fab md-primary md-fab-bottom-right" ng-class="{ visible: selectedTab==1 }" ng-click="showNuevoPerro($event, TIPO_ENCONTRADO)" style="position:fixed !important;">
        <md-icon>add</md-icon>
    </md-button>
    <md-button aria-label="Subir" class="btn-agregar-perro md-fab md-fab-bottom-right" md-theme="avistados" ng-class="{ visible: selectedTab==2 }" ng-click="showNuevoPerro($event, TIPO_AVISTADO)" style="position:fixed !important;">
        <md-icon>add</md-icon>
    </md-button>

    <div class="la-anim-1" id="loading-bar" style="height: 5px; width: 100%"></div>

    <md-content id="main-content">
        <div ng-include="'/partials/templates/toolbar.tmpl.html'"></div>
        <md-tabs class="main-tabs" md-border-bottom md-dynamic-height md-no-ink md-selected="selectedTab">
            <md-tab label="Perros Perdidos ({{perrosList.registros[TIPO_PERDIDO]}})" ng-click="searchModel = null;searchModel.tipo = TIPO_PERDIDO" ng-init="searchModel.tipo = TIPO_PERDIDO" ng-model="searchModel.tipo">
                <md-content class="md-padding" layout="column" layout-xs="column">
                    <div class="paginator" layout="row" style="margin-top:-10px">
                        <md-button class="paginator-link md-raised" md-no-ink ng-click="goToPage(perrosPaginator.getPaginaActual(TIPO_PERDIDO)-1, LIMIT, TIPO_PERDIDO);perrosPaginator.paginaAnterior(TIPO_PERDIDO)" ng-if="perrosPaginator.getPaginaActual(TIPO_PERDIDO)-1 >= 0">
                            <md-icon>keyboard_arrow_left</md-icon>Atrás
                        </md-button>
                        <md-select class="pagina-select" ng-model="a" placeholder="Página: {{perrosPaginator.getPaginaActual(TIPO_PERDIDO)--1}}">
                            <md-option ng-click="perrosPaginator.setPaginaActual($index, TIPO_PERDIDO);goToPage($index, LIMIT, TIPO_PERDIDO)" ng-init="perrosPaginator.setPaginaActual(0, TIPO_PERDIDO)" ng-repeat="i in calculatePages(perrosList.registros[TIPO_PERDIDO])">{{$index+1}}</md-option>
                        </md-select>
                        <md-button class="paginator-link md-raised" md-no-ink ng-click="goToPage(perrosPaginator.getPaginaActual(TIPO_PERDIDO)+1, LIMIT, TIPO_PERDIDO);perrosPaginator.paginaSiguiente(TIPO_PERDIDO)" ng-if="(perrosPaginator.getPaginaActual(TIPO_PERDIDO)+1)*LIMIT < perrosList.registros[TIPO_PERDIDO]">
                            Siguiente <md-icon>keyboard_arrow_right</md-icon>
                        </md-button>
                    </div>
                    <div layout="row" layout-align="center center" layout-wrap>
                        <md-card class="lost-card" data-id="{{::perro.id}}" ng-repeat="perro in perrosList.getPerrosListByTipo(TIPO_PERDIDO) | orderBy:'-real_date' track by perro.id">
                            <div class="name-tag" ng-class="{'tag-hembra': perro.isHembra(), 'tag-macho': perro.isMacho()}" ng-if="perro.nombre">{{perro.nombre}}</div>
                            <img alt="Foto Perro" class="md-card-image" data-ng-src="{{perro.foto}}" />
                            <md-card-content ng-include="'/partials/templates/card-content.tmpl.html'"></md-card-content>
                            <md-card-actions layout="row" layout-align="start center">
                                <md-card-icon-actions ng-include="'/partials/templates/card-actions.tmpl.html'"></md-card-icon-actions>
                            </md-card-actions>
                        </md-card>
                    </div>
                    <div class="paginator" layout="row" ng-show="perrosList.getPerrosListByTipo(TIPO_PERDIDO).length > 0">
                        <md-button class="paginator-link md-raised" md-no-ink ng-click="goToPage(perrosPaginator.getPaginaActual(TIPO_PERDIDO)-1, LIMIT, TIPO_PERDIDO);perrosPaginator.paginaAnterior(TIPO_PERDIDO)" ng-if="perrosPaginator.getPaginaActual(TIPO_PERDIDO)-1 >= 0">
                            <md-icon>keyboard_arrow_left</md-icon>Atrás
                        </md-button>
                        <md-select class="pagina-select" ng-model="a" placeholder="Página: {{perrosPaginator.getPaginaActual(TIPO_PERDIDO)--1}}">
                            <md-option ng-click="perrosPaginator.setPaginaActual($index, TIPO_PERDIDO);goToPage($index, LIMIT, TIPO_PERDIDO)" ng-init="perrosPaginator.setPaginaActual(0, TIPO_PERDIDO)" ng-repeat="i in calculatePages(perrosList.registros[TIPO_PERDIDO])">{{$index+1}}</md-option>
                        </md-select>
                        <md-button class="paginator-link md-raised" md-no-ink ng-click="goToPage(perrosPaginator.getPaginaActual(TIPO_PERDIDO)+1, LIMIT, TIPO_PERDIDO);perrosPaginator.paginaSiguiente(TIPO_PERDIDO)" ng-if="(perrosPaginator.getPaginaActual(TIPO_PERDIDO)+1)*LIMIT < perrosList.registros[TIPO_PERDIDO]">
                            Siguiente <md-icon>keyboard_arrow_right</md-icon>
                        </md-button>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Perros Encontrados ({{perrosList.registros[TIPO_ENCONTRADO]}})" ng-click="searchModel = null;searchModel.tipo = TIPO_ENCONTRADO" ng-model="searchModel.tipo">
                <md-content class="md-padding" layout="column" layout-xs="column">
                    <div class="paginator" layout="row" style="margin-top:-10px">
                        <md-button class="paginator-link md-raised" md-no-ink ng-click="goToPage(perrosPaginator.getPaginaActual(TIPO_ENCONTRADO)-1, LIMIT, TIPO_ENCONTRADO);perrosPaginator.paginaAnterior(TIPO_ENCONTRADO)" ng-if="perrosPaginator.getPaginaActual(TIPO_ENCONTRADO)-1 >= 0">
                            <md-icon>keyboard_arrow_left</md-icon>Atrás
                        </md-button>
                        <md-select class="pagina-select" ng-model="a" placeholder="Página: {{perrosPaginator.getPaginaActual(TIPO_ENCONTRADO)--1}}">
                            <md-option ng-click="perrosPaginator.setPaginaActual($index, TIPO_ENCONTRADO);goToPage($index, LIMIT, TIPO_ENCONTRADO)" ng-init="perrosPaginator.setPaginaActual(0, TIPO_ENCONTRADO)" ng-repeat="i in calculatePages(perrosList.registros[TIPO_ENCONTRADO])">{{$index+1}}</md-option>
                        </md-select>
                        <md-button class="paginator-link md-raised" md-no-ink ng-click="goToPage(perrosPaginator.getPaginaActual(TIPO_ENCONTRADO)+1, LIMIT, TIPO_ENCONTRADO);perrosPaginator.paginaSiguiente(TIPO_ENCONTRADO)" ng-if="(perrosPaginator.getPaginaActual(TIPO_ENCONTRADO)+1)*LIMIT < perrosList.registros[TIPO_ENCONTRADO]">
                            Siguiente <md-icon>keyboard_arrow_right</md-icon>
                        </md-button>
                    </div>
                    <div layout="row" layout-wrap>
                        <md-card class="lost-card" data-id="{{::perro.id}}" ng-repeat="perro in perrosList.getPerrosListByTipo(TIPO_ENCONTRADO) | orderBy:'-real_date' track by perro.id">
                            <img alt="Foto Perro" class="md-card-image" data-ng-src="{{perro.foto}}" />
                            <md-card-content ng-include="'/partials/templates/card-content.tmpl.html'">
                            <div class="name-tag" ng-class="{'tag-hembra': perro.isHembra(), 'tag-macho': perro.isMacho()}" ng-if="perro.nombre">{{perro.nombre}}</div>
                            </md-card-content>
                            <md-card-actions layout="row" layout-align="start center">
                                <md-card-icon-actions ng-include="'/partials/templates/card-actions.tmpl.html'">
                                </md-card-icon-actions>
                            </md-card-actions>
                        </md-card>
                    </div>
                    <div class="paginator" layout="row" ng-show="perrosList.getPerrosListByTipo(TIPO_ENCONTRADO).length > 0">
                        <md-button class="paginator-link md-raised" md-no-ink ng-click="goToPage(perrosPaginator.getPaginaActual(TIPO_ENCONTRADO)-1, LIMIT, TIPO_ENCONTRADO);perrosPaginator.paginaAnterior(TIPO_ENCONTRADO)" ng-if="perrosPaginator.getPaginaActual(TIPO_ENCONTRADO)-1 >= 0">
                            <md-icon>keyboard_arrow_left</md-icon>Atrás
                        </md-button>
                        <md-select class="pagina-select" ng-model="a" placeholder="Página: {{perrosPaginator.getPaginaActual(TIPO_ENCONTRADO)--1}}">
                            <md-option ng-click="perrosPaginator.setPaginaActual($index, TIPO_ENCONTRADO);goToPage($index, LIMIT, TIPO_ENCONTRADO)" ng-init="perrosPaginator.setPaginaActual(0, TIPO_ENCONTRADO)" ng-repeat="i in calculatePages(perrosList.registros[TIPO_ENCONTRADO])">{{$index+1}}</md-option>
                        </md-select>
                        <md-button class="paginator-link md-raised" md-no-ink ng-click="goToPage(perrosPaginator.getPaginaActual(TIPO_ENCONTRADO)+1, LIMIT, TIPO_ENCONTRADO);perrosPaginator.paginaSiguiente(TIPO_ENCONTRADO)" ng-if="(perrosPaginator.getPaginaActual(TIPO_ENCONTRADO)+1)*LIMIT < perrosList.registros[TIPO_ENCONTRADO]">
                            Siguiente <md-icon>keyboard_arrow_right</md-icon>
                        </md-button>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Perros Avistados ({{perrosList.registros[TIPO_AVISTADO]}})" ng-click="searchModel = null;searchModel.tipo = TIPO_AVISTADO" ng-model="searchModel.tipo">
                <md-content class="md-padding" layout="column" layout-xs="column">
                    <div class="paginator" layout="row" style="margin-top:-10px">
                        <md-button class="paginator-link md-raised" md-no-ink ng-click="goToPage(perrosPaginator.getPaginaActual(TIPO_AVISTADO)-1, LIMIT, TIPO_AVISTADO);perrosPaginator.paginaAnterior(TIPO_AVISTADO)" ng-if="perrosPaginator.getPaginaActual(TIPO_AVISTADO)-1 >= 0">
                            <md-icon>keyboard_arrow_left</md-icon>Atrás
                        </md-button>
                        <md-select class="pagina-select" ng-model="a" placeholder="Página: {{perrosPaginator.getPaginaActual(TIPO_AVISTADO)--1}}">
                            <md-option ng-click="perrosPaginator.setPaginaActual($index, TIPO_AVISTADO);goToPage($index, LIMIT, TIPO_AVISTADO)" ng-init="perrosPaginator.setPaginaActual(0, TIPO_AVISTADO)" ng-repeat="i in calculatePages(perrosList.registros[TIPO_AVISTADO])">{{$index+1}}</md-option>
                        </md-select>
                        <md-button class="paginator-link md-raised" md-no-ink ng-click="goToPage(perrosPaginator.getPaginaActual(TIPO_AVISTADO)+1, LIMIT, TIPO_AVISTADO);perrosPaginator.paginaSiguiente(TIPO_AVISTADO)" ng-if="(perrosPaginator.getPaginaActual(TIPO_AVISTADO)+1)*LIMIT < perrosList.registros[TIPO_AVISTADO]">
                            Siguiente <md-icon>keyboard_arrow_right</md-icon>
                        </md-button>
                    </div>
                    <div layout="row" layout-wrap>
                        <md-card class="lost-card" data-id="{{::perro.id}}" ng-repeat="perro in perrosList.getPerrosListByTipo(TIPO_AVISTADO) | orderBy:'-real_date'">
                            <div class="name-tag" ng-class="{'tag-hembra': perro.isHembra(), 'tag-macho': perro.isMacho()}" ng-if="perro.nombre">{{perro.nombre}}</div>
                            <img alt="Foto Perro" class="md-card-image" data-ng-src="{{perro.foto}}"/>
                            <md-card-content ng-include="'/partials/templates/card-content.tmpl.html'"></md-card-content>
                            <md-card-actions layout="row" layout-align="start center">
                                <md-card-icon-actions ng-include="'/partials/templates/card-actions.tmpl.html'"></md-card-icon-actions>
                            </md-card-actions>
                        </md-card>
                    </div>
                    <div class="paginator" layout="row" ng-show="perrosList.getPerrosListByTipo(TIPO_AVISTADO).length > 0">
                        <md-button class="paginator-link md-raised" md-no-ink ng-click="goToPage(perrosPaginator.getPaginaActual(TIPO_AVISTADO)-1, LIMIT, TIPO_AVISTADO);perrosPaginator.paginaAnterior(TIPO_AVISTADO)" ng-if="perrosPaginator.getPaginaActual(TIPO_AVISTADO)-1 >= 0">
                            <md-icon>keyboard_arrow_left</md-icon>Atrás
                        </md-button>
                        <md-select class="pagina-select" ng-model="a" placeholder="Página: {{perrosPaginator.getPaginaActual(TIPO_AVISTADO)--1}}">
                            <md-option ng-click="perrosPaginator.setPaginaActual($index, TIPO_AVISTADO);goToPage($index, LIMIT, TIPO_AVISTADO)" ng-init="perrosPaginator.setPaginaActual(0, TIPO_AVISTADO)" ng-repeat="i in calculatePages(perrosList.registros[TIPO_AVISTADO])">{{$index+1}}</md-option>
                        </md-select>
                        <md-button class="paginator-link md-raised" md-no-ink ng-click="goToPage(perrosPaginator.getPaginaActual(TIPO_AVISTADO)+1, LIMIT, TIPO_AVISTADO);perrosPaginator.paginaSiguiente(TIPO_AVISTADO)" ng-if="(perrosPaginator.getPaginaActual(TIPO_AVISTADO)+1)*LIMIT < perrosList.registros[TIPO_AVISTADO]">
                            Siguiente <md-icon>keyboard_arrow_right</md-icon>
                        </md-button>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="perros favoritos">
                <md-content class="md-padding" layout="row" layout-xs="column">
                    <div layout="row" layout-wrap>
                        <md-card class="lost-card" data-id="{{::perro.id}}" ng-repeat="perro in perrosList.getFavoritos() | orderBy:'-real_date'">
                            <img alt="Foto Perro" class="md-card-image" data-ng-src="{{perro.foto}}"/>
                            <md-card-content ng-include="'/partials/templates/card-content.tmpl.html'">
                            <div class="name-tag" ng-class="{'tag-hembra': perro.isHembra(), 'tag-macho': perro.isMacho()}" ng-if="perro.nombre">{{perro.nombre}}</div>
                            </md-card-content>
                            <md-card-actions layout="row" layout-align="start center">
                                <md-card-icon-actions ng-include="'/partials/templates/card-actions.tmpl.html'">
                                </md-card-icon-actions>
                            </md-card-actions>
                        </md-card>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="busqueda avanzada">
                <div class="search-form-container" layout="column">
                    <form id="search-box">
                        <div id="search-form">
                            <md-chips id="chips-container" md-separator-keys="chipSeparators" ng-model="tagsSearch" placeholder="Buscar"></md-chips>
                            <br/>
                            <button id="search-button" ng-click="busquedaAvanzada(tagsSearch)"><span>Buscar</span></button>
                        </div>
                    </form>
                </div>
                <md-content class="md-padding" layout="row" layout-xs="column">
                    <div layout="row" layout-wrap>
                        <md-card class="lost-card" data-id="{{::perro.id}}" ng-repeat="perro in perrosList.getPerrosBusquedaAvanzada() | orderBy:'-real_date'">
                                <div class="name-tag" ng-class="{'tag-hembra': perro.isHembra(), 'tag-macho': perro.isMacho()}" ng-if="perro.nombre">{{perro.nombre}}</div>
                            <img alt="Foto Perro" class="md-card-image" data-ng-src="{{perro.foto}}">
                                <md-card-content ng-include="'/partials/templates/card-content.tmpl.html'"></md-card-content>
                                <md-card-actions layout="row" layout-align="start center">
                                    <md-card-icon-actions ng-include="'/partials/templates/card-actions.tmpl.html'"></md-card-icon-actions>
                                </md-card-actions>
                            </img>
                        </md-card>
                    </div>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
    <div style="visibility: hidden">
        <div class="md-dialog-container" id="dialogMapa">
            <md-dialog aria-label="Mapa" layout-padding><div class="md-dialog-content" id="map"></div></md-dialog>
        </div>
    </div>
</div>