<div ng-cloak ng-controller="HomeCtrl as ctrl">
    <div class="la-anim-1" id="loading-bar" style="height: 5px; width: 100%"></div>
    <md-content id="main-content">
        <div ng-include="'/partials/templates/toolbar.tmpl.html'"></div>
        <div ng-include="'/partials/templates/navbar.tmpl.html'"></div>
        <!-- Contenido con las tarjetas de los perros -->
        <ui-view></ui-view> 
    </md-content>
    <div style="visibility: hidden">
        <div class="md-dialog-container" id="dialogMapa">
            <md-dialog aria-label="Mapa" layout-padding><div class="md-dialog-content" id="map"></div></md-dialog>
        </div>
    </div>
</div>