<md-content id="main-content" >
    <md-content class="md-padding" layout="column" layout-xs="column">
        <div class="paginator" layout="row" style="margin-top:-10px">
            <div paging page="pagActualPerdidos" page-size="MAX_RESULTS" total="perrosList.registros[TIPO_PERDIDO]" paging-action="goToPage(page, TIPO_PERDIDO)" text-next="Siguiente" text-prev="Anterior" show-prev-next="true" hide-if-empty="true" text-title-page="Pág. {page}" text-title-prev="Ant" text-title-next="Sig"></div>
        </div>
        <div layout="row" layout-align="center center" layout-wrap>
            <md-card class="lost-card" data-id="{{::perro.id}}" ng-repeat="perro in perrosList.getPerrosListByTipo(TIPO_PERDIDO) | orderBy:'-real_date' track by perro.id">
                <div class="ribbon" ng-show="perro.has_collar"><span style="background-color: {{perro.collar_color}}">COLLAR</span></div>
                <div class="name-tag" ng-class="{'tag-hembra': perro.isHembra(), 'tag-macho': perro.isMacho()}" ng-if="perro.nombre">{{perro.nombre}}</div>
                <img alt="Foto Perro" class="md-card-image" data-ng-src="{{perro.foto}}" />
                <md-card-content ng-include="'/partials/templates/card-content.tmpl.html'"></md-card-content>
                <md-card-actions layout="row" layout-align="start center">
                    <md-card-icon-actions ng-include="'/partials/templates/card-actions.tmpl.html'"></md-card-icon-actions>
                </md-card-actions>
            </md-card>
        </div>
        <div class="paginator" layout="row" ng-show="perrosList.getPerrosListByTipo(TIPO_PERDIDO).length > 0">
            <div paging page="pagActualPerdidos" page-size="MAX_RESULTS" total="perrosList.registros[TIPO_PERDIDO]" paging-action="goToPage(page, TIPO_PERDIDO);scrollTop();" text-next="Siguiente" text-prev="Anterior" show-prev-next="true" hide-if-empty="true" text-title-page="Pág. {page}" text-title-prev="Ant" text-title-next="Sig"></div> 
        </div>
        <md-button aria-label="Subir" class="btn-agregar-perro md-fab md-fab-bottom-right visible" ng-click="showNuevoPerro($event, TIPO_PERDIDO)" style="position:fixed !important;">
            <md-icon>add</md-icon>
        </md-button>
    </md-content>
</md-content>